<mat-card>
    <p-table [value]="produtos">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Unidade de Medida</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Produto Pericivel</th>
                <th>Data de Validade</th>
                <th>Data de Vencimento</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
            <tr>
                <td>{{produto.nome}}</td>
                <td>{{produto.unidadeMedida}}</td>
                <td>{{produto.quantidade}}</td>
                <td>{{produto.preco}}</td>
                <td>{{produto.pericivel}}</td>
                <td>{{produto.dataValidade}}</td>
                <td>{{produto.pericivel ? produto.dataVencimento : 0 }}</td>
            </tr>
        </ng-template>
    </p-table>
</mat-card>