app-login {
  // Card Geral
  .card {
    padding: 0;
    margin: 10vh auto;
  }
  .ui-card-content {
    width: 35vw;
    height: 80vh;
    border-radius: 1.5rem;
  }
  .ui-card-body {
    height: 100%;
    padding: 0;

    .ui-card-content {
      padding: 0;
      height: 100%;
    }
  }

  // Seção do topo
  .top-section {
    text-align: center;
    width: 100%;
    height: 7rem;
    background: rebeccapurple;
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .img-size {
    height: 7rem;
  }

  // Seção do meio
  .content-section {
  }

  .ui-float-label{
    display: inline-block;
  }
}
