<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card card-w-title">
        <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
        <h1>Formulário</h1>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4">
            <h3>Nome do Produto</h3>
            <input type="text" maxlength="50" [(ngModel)]="produto.nome" placeholder="Nome do Produto" pInputText
              required>
          </div>
          <div class="ui-g-12 ui-md-4">
            <h3>Unidade de Medida</h3>
            <div class="ui-g-8 p-0">
              <input type="text" dir="rtl" [(ngModel)]="produto.unidadeMedida" placeholder="Unidade de Medida"
                pInputText required>
            </div>
            <div class="ui-g-4 p-0">
              <p-dropdown [options]="unidadeMedida" [(ngModel)]="unidadeSelected" (ngModelChange)="teste()">
              </p-dropdown>
            </div>
          </div>
          <div class="ui-g-12 ui-md-4">
            <h3>Quantidade</h3>
            <input type="number" [(ngModel)]="produto.quantidade" placeholder="Quantidade" pInputText>
          </div>
          <div class="ui-g-6 ui-md-2">
            <h3>Preço</h3>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">R$ </span>
              <input type="text" dir="rtl" class="dinheiro" pInputText/>
              <!-- <input class="simple-field-data-mask-reverse" type="text" data-mask="#.##0,00" data-mask-reverse="true" data-mask-maxlength="false" pInputText/> -->
            </div>
          </div>
          <div class="ui-g-6 ui-md-2">
            <h3>&nbsp;</h3>
            <div class="ui-g-12">
              <p-checkbox name="group1" [(ngModel)]="produto.pericivel" value="Produto perecível"
                label="Produto perecível" inputId="ny" [required]=""></p-checkbox>
            </div>
          </div>
          <div class="ui-g-12 ui-md-4">
            <h3>Data de Fabricação</h3>
            <p-calendar [(ngModel)]="produto.dataFabricacao" [locale]="pt" dateFormat="dd/mm/yy"
              placeholder="Data de Fabricação"></p-calendar>
          </div>
          <div class="ui-g-12 ui-md-4">
            <h3>Data de Validade</h3>
            <p-calendar [(ngModel)]="produto.dataValidade" [locale]="pt" dateFormat="dd/mm/yy"
              placeholder="Data de Validade"></p-calendar>
          </div>
          <button pButton type="button" (click)="cadastrarProduto()" label="Cadastrar"
            class="ui-button-raised ui-button-success"></button>
        </div>
      </div>
    </div>
  </div>
</div>