/* You can add global styles to this file, and also import other style files */

@import "~primeng/resources/themes/bootstrap/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.p-0{
  padding: 0px !important;
}

.text-align-center {
  text-align: center !important;
}

.btn {
  cursor: pointer !important;
}

.no-border {
  background: none;
  border: none;
  outline: none;
}